@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --defaultPadding: 0 4rem;
  --headercolor: #7030cc;
  --sky: #40b1ef;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------------- Navbar style ------------ */
.header {
  height: 100vh;
  background-color: var(--headercolor);
}

/* ------ Navbar ------- */
nav {
  padding: var(--defaultPadding);
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
}

.brand {
  flex-grow: 1;
}

.brand > img {
  height: 40px;
  filter: invert(100%);
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-item {
  margin: 0 5px;
}

.list-item-link {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.nav-list > li:nth-child(1) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sky);
  font-weight: 600;
  position: relative;
}
.nav-list > li:nth-child(1) > a::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  border-bottom: 2px solid #c36826;
  top: 25px;
}

.btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--sky);
  text-transform: uppercase;
}
/* ------------------------ */
/* --------- Home ------------- */

#home {
  padding: var(--defaultPadding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-content > h1 {
  font-size: 70px;
  color: #ffffff;
  margin-bottom: 40px;
}

.home-content > p {
  font-size: 19px;
  color: #c6c2cb;
  margin: 20px 0;
}

.home-img > img {
  height: 550px;
}
/* ------------------------------------------- */
.body {
  background-color: #ffffff;
}
/* -------- Services ---------- */

#service {
  padding: var(--defaultPadding);
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.server-img > img {
  height: 650px;
}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-title {
  font-size: 40px;
  margin: 20px 0 60px 55px;
}

.service-box {
  margin: 30px 0;
}

.service-box > h1 {
  font-size: 27px;
  margin: 20px 0;
  font-weight: 700;
}
.service-box > p {
  font-size: 18px;
  margin: 20px 0 45px;
  font-weight: 500;
  color: #313131;
}

.orange {
  color: #ff8329;
}
.green {
  color: #00da60;
}
.sky {
  color: #4faee9;
}
.fa-share {
  margin: 0 10px 0 -3rem;
}
/* ------------------------------- */
/* -------- Footer ---------- */
#footer {
  padding: var(--defaultPadding);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer-title {
  text-align: center;
  font-size: 35px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.footer-box {
  padding: 30px 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  border-radius: 35px;
  box-shadow: rgb(30 29 29 / 64%) 1.95px 1.95px 4.6px;
}

.footer-img-sec {
  padding: 35px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.footer-img-sec-1 {
  background-color: #ffdadd;
}

.footer-img-sec-2 {
  background-color: #fbf0ee;
}
.footer-img-sec-3 {
  background-color: #e9f4f6;
}

.footer-img-sec-4 {
  background-color: #f2e7f5;
}

.footer-img-sec > img {
  height: 65px;
}

.main-footer-content-color {
  background-color: #6429b7;
  color: #ffffff;
}

.footer-content {
  padding: 21px 30px;
  border-radius: 35px;
}
.footer-content > h1 {
  text-align: center;
  font-size: 28px;
  margin: 10px 0;
}
.footer-content > p {
  font-size: 18px;
  text-align: center;
}
